*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(246, 243, 240);
}
.tableform{
    gap: 200px;
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
form{
    height: 560px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 7px 10px rgb(223, 220, 220);
    h1{
        color: orangered;
        margin: 0px 0px 20px 60px;
    }
    input{
        padding: 10px;
        width: 350px;
        margin: 10px 0px 10px 0px;
        border-radius: 5px;
    }
    label{
        font-size: large;
    }
    .error{
        color: rgb(255, 57, 57);
        font-size: medium;
        margin: 0px 0px 15px 0px;
    }
}
button{
        border: 0;
        margin: 10px 0px;
        color: white;
        font-size: medium;
        padding: 10px 25px;
        border-radius: 7px;
    }
.submit{
    width: 350px;
        background-color: rgb(15, 15, 250);
        margin-left: 0px;
    }
    .submit:hover{
        background-color: rgb(5, 5, 181);
    }
.btn{
    .pdf{
        font-size: larger;
        padding: 10px 30px;
        margin: 25px 0px 0px 270px;
        background-color: rgb(253, 73, 73);
    }
    .pdf:hover{
        background-color: rgb(255, 42, 42);
    }
    .exl{
        font-size: larger;
        padding: 10px 30px;
        margin: 25px 0px 0px 30px;
        background-color: rgb(4, 171, 4);
    }
    .exl:hover{
        background-color: rgb(7, 129, 7);
    }
}
.ta{
    display: block;
    width: 800px;
    height: 300px;
}
table,th{
    font-size: large;
    padding: 10px;
    color: white;
    background-color: black;
    border: 4px solid white;
}
td{
    font-size: medium;
    height: 50px;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(239, 235, 235);
    border: 4px solid white;
}
table{
    padding: 0px;
    width: 800px;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0px 2px 7px 10px rgb(223, 220, 220);
    border-collapse: collapse;
}
.tr{
    background-color: white;
}